header {
    position: relative; justify-content: space-between; align-items: center;
    padding: 10px; text-align: center;
    background-color: var(--bostonUniRed); box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, .75); 

    button { 
        display: inline-flex; align-items: center;  
        border: 0; transition: all .4s; background-color: transparent; color: white;
        font-size: 14px; letter-spacing: 3px;   
        &:hover { color: var(--goldenYellow); }
        &:active { background-color: transparent !important; color: white !important; }

        img { margin-right: 10px; filter: drop-shadow(0 0 2px #000); }
    }   

    .api-link {
        justify-content: center; align-items: flex-start;
        letter-spacing: 1px; color: white;
        span {
            height: fit-content; margin-right: 5px;
            font-size: 9px;
        }
        img { width: 35%; }
    }
}

@media screen and (max-width: 820px) {
    header {
        button { font-size: 12px; letter-spacing: 2px; }
    }    
}
@media screen and (max-width: 780px) {
    header {
        button { 
            font-size: 10px; letter-spacing: 1px; text-align: left;
            img { margin-right: 5px; scale: .8; }
        }
    }    
}