.pokedex-input form, .pokedex-container, .poke-stats-container, .poke-stats-container p { display: flex; align-items: center; justify-content: center; }

.pokedex-input {
    padding: 0.5rem 0.5rem 0 0.5rem; 
    background-color: var(--goldenYellow); color: rgba(0, 0, 0, 0.65);
    form {
        width: 100%; flex-wrap: wrap;
        margin-top: 5px;
        img { margin-inline: 5px; }
        label {
            flex-basis: 100%; 
            font-size: 9px; letter-spacing: 2px; opacity: .7;            
        }
        input {
            width: 60%; height: 40px; padding-bottom: 10px;
            border-color: var(--bostonUniRed); color: var(--ceruleanBlue);
            font-size: 14px; text-align: center; letter-spacing: 2px; text-transform: capitalize;
            &::placeholder {
                font-size: 10px; text-transform: none;
                opacity: .5;
            }
        }
    }
}
#alert {
    width: 100%; display: inline-block; 
    font-size: 14px; text-align: center; letter-spacing: 5px; 
    color: var(--goldenYellow); margin: 5px 0 auto;
}
main {
    position: relative; display: inline-block;
    padding: 1em 0.5rem;
    .pokedex-bg { 
        width: 100%; max-width: 350px;   
        filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.65));     
    }
    .pokedex-container {
        .pokedex-main {
            p { margin: 0; cursor: default; }
            .poke-img-container img, .poke-hp, .poke-name, .poke-id, .poke-types-container, .poke-stats-container { 
                position: absolute; letter-spacing: 1px;
                color: rgba(0, 0, 0, .65);
            }            
            .poke-hp, .poke-id, .poke-types-container {
                top: 22.8%; right: 25%;
                font-size: 14px;
                span { font-size: 10px; color: var(--bostonUniRed); }
            }
            .poke-id { 
                width: 100%; top: 23%; right: 32%;
                font-size: 14px; letter-spacing: 2px;
            }

            .poke-img-container img { top: 30%; left: 35%; height: 18%; }
            .poke-name {
                width: 100%; top: 55%; right: 20%;
                font-size: 14px; text-transform: capitalize;
            }
            .poke-types-container {
                top: 53%; right: 25%; display: inline-block;
                text-align: justify; 
                p {
                    display: block;
                    font-size: 12px; text-transform: capitalize;
                }
            }
            .poke-stats-container {            
                width: 65%; height: 22%; top: 68%; right: 22%; 
                flex-direction: column; align-items: normal;
                padding: 5px;
                p {
                    justify-content: space-between; align-content: space-between;
                    margin: 0 0 3px 0; border-bottom: 1px dashed rgba(223, 223, 223, .65);
                    color: white; font-size: 12px; letter-spacing: 1px;
                    span { color: var(--goldenYellow); }
                }
            }
        }
    }
}